@import '../../styles/var';

.section {
  padding: 160px 0;
}

.el1 {
  position: absolute;
  right: 8%;
  top: -6%;
}

.el2 {
  position: absolute;
  left: 15%;
  top: 10%;
}

@media (max-width: 998px) {
  .el1,
  .el2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
