@import '../../styles/var';

.section {
  padding: 160px 0 157px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  h2 {
    text-align: left;
    line-height: 52px;
  }
}

.info {
  max-width: 440px;
  width: 100%;
  margin-top: 25px;
}

.text {
  margin-top: 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba($black, 0.7);
}

.scheme {
  margin-right: auto;
  max-width: 460px;
  width: 100%;
  margin-left: 90px;
}

@media (max-width: 768px) {
  .section {
    padding: 70px 0;
  }

  .content {
    flex-direction: column;
    h2 {
      max-width: 440px;
      width: 100%;
    }
  }

  .info {
    max-width: none;
    margin-bottom: 30px;
  }

  .scheme {
    margin-left: auto;
  }

  .text {
    margin-top: 20px;
  }
}
