.bottom {
  transform: translateX(1px);
}
.title {
  transform: translate(0, 25.5px);
  opacity: 0;
}

.title-0 {
  opacity: 1;
}
.isAnimate.title-0 {
  opacity: 1;
  animation: hideTitle 0.3s linear forwards;
  animation-delay: 0.2s;
}

.stopAnimate.title-0 {
  animation: hideTitle 0.5s linear forwards reverse;
}

.isAnimate.title-1 {
  animation: showTitle 1s linear forwards;
  animation-delay: 0.5s;
}
.isAnimate.title-2 {
  animation: showTitle 1s linear forwards;
  animation-delay: 1.5s;
}
.isAnimate.title-3 {
  animation: showTitle 1s linear forwards;
  animation-delay: 2.5s;
}

.isAnimate.title-4 {
  animation: hideTitle 0.3s linear forwards reverse;
  animation-delay: 3.5s;
}

.dots1 {
  opacity: 1;
}

.dot1,
.dot2,
.dot3 {
  transition: all 0.4s ease-in;
}

.isAnimate.dots1 {
  animation: hideDots 4s linear forwards;
  animation-delay: 0s;
  .dot1 {
    opacity: 0;
    animation: dotsOpacity 0.2s linear forwards;
    animation-delay: 3.8s;
  }
  .dot2 {
    opacity: 0;
    animation: dotsOpacity 0.2s linear forwards;
    animation-delay: 4s;
  }
  .dot3 {
    opacity: 0;
    animation: dotsOpacity 0.2s linear forwards;
    animation-delay: 4.2s;
  }
}

@keyframes hideDots {
  0% {
    transform: translate(0px, 0);
    opacity: 1;
  }
  5% {
    transform: translate(10px, 0);
    opacity: 0;
  }
  95% {
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0);
    opacity: 1;
  }
}
@keyframes hideTitle {
  0% {
    transform: translate(0px, 25.5px);
    opacity: 1;
  }
  100% {
    transform: translate(20px, 25.5px);
    opacity: 0;
  }
}
@keyframes dotsOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTitle {
  0% {
    transform: translate(20px, 25.5px);
    opacity: 0;
  }
  40% {
    transform: translate(0, 25.5px);
    opacity: 1;
  }
  70% {
    transform: translate(0, 25.5px);
    opacity: 1;
  }
  100% {
    transform: translate(20px, 25.5px);
    opacity: 0;
  }
}
