.el-0 {
  transform: translate(-10%, -24%);
}
.el-1 {
  transform: translate(-8%, -26%);
}
.el-2 {
  transform: translate(-6%, -24%);
}
.el-3 {
  transform: translate(-7%, -26%);
}
.el-4 {
  transform: translate(-4%, -12%);
}
.el-5 {
  transform: translate(-8%, -24%);
}
.el-6 {
  transform: translate(-7%, -26%);
}
.el-7 {
  transform: translate(-7%, -26%);
}

.element {
  opacity: 0;
}

.animate {
  animation: scale 7s linear;
}

@keyframes scale {
  100% {
    transform: scale(0.8);
  }
}
