@import '../../../styles/var';

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgba($lila, 0.7);
}

@media (max-width: 1100px) {
  .content {
    flex-wrap: wrap;
  }
  .menu {
    width: 100%;
    order: -1;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .text {
    width: 50%;
  }
  .info {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .text {
    width: 100%;
    text-align: center;
    order: 2;
    margin-top: 41px;
  }
  .content {
    flex-direction: column;
  }
  .info {
    width: 100%;
    max-width: 375px;
  }
  .logo {
    margin: 0 auto 23px;
  }
}
