@import '../../styles/var';

.section {
  padding: 120px 0 130px;
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  h3 {
    font-weight: 400;
    font-size: 46px;
    line-height: 42px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: $fontTitle;
    margin-bottom: 40px;
    margin-top: 80px;
  }
  ul {
    margin-top: -20px;
    margin-bottom: 30px;
  }
  li {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #230f49;
    &:before {
      content: '—';
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: rgba(35, 15, 73, 0.3);
      margin-right: 10px;
    }
  }
}

.wrapper {
  max-width: 840px;
  padding: 0 20px;
}

.el1 {
  position: absolute;
  left: -13%;
  top: -1.5%;
}

@media (max-width: 768px) {
  .section {
    padding: 60px 0;
    p {
      margin-bottom: 20px;
      line-height: 28px;
    }
    h3 {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
  .el1 {
    display: none;
  }
}
