$white: #ffffff;
$blue: #0066f3;
$lila: #b5a9ea;
$violet: #86266e;
$yellow: #ffcf5e;
$red: #ff7340;
$blueLight: #20c4ff;
$black: #230f49;

$fontMain: 'Montserrat', sans-serif;
$fontTitle: 'Odibee Sans', sans-serif;
$fontOther: 'JetBrains Mono', sans-serif;
