@import './reset.css';
@import './var';

body {
  font-family: $fontMain;
}

.wrapper {
  max-width: 1310px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}

.wrapper-big {
  max-width: 1380px;
}

.yellowBlock {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  color: $black;
  z-index: 2;
  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 14px);
    height: calc(100% + 5px);
    top: -2px;
    left: -7px;
    background: $yellow;
    color: $black;
    background: linear-gradient(180deg, #ffcf5e 0%, #ffb55e 135.22%);
    border-radius: 5px;
    z-index: -1;
  }
  &.first {
    margin-left: 0;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $blue;
  border-radius: 15px;
  padding: 21px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  width: 100%;
  text-decoration: none;
}

.button-sm {
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: max-content;
}

.button-border {
  color: $black;
  background: transparent;
  border: 1px solid rgba($black, 0.2);
}

.mainTitle {
  font-family: $fontTitle;
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: $white;
}

.title {
  font-weight: 400;
  font-size: 66px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -1.5px;
  color: $black;
  font-family: $fontTitle;
  text-transform: uppercase;
  &.white {
    color: $white;
  }
}

h3 {
  font-weight: 400;
  font-size: 46px;
  line-height: 42px;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-family: $fontTitle;
}

svg {
  width: 100%;
}

.yellow {
  color: $yellow !important;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 46px;
    line-height: 40px;
    letter-spacing: -1px;
  }
  .title {
    font-size: 42px;
    line-height: 38px;
  }
  h3 {
    font-size: 30px;
    line-height: 26px;
  }
}

#startButton {
  transform: translateY(-100px);
  z-index: 100;
  color: $yellow;
}
