@import '../../../styles/var';

.block {
  background: linear-gradient(179.27deg, #50104c 0.63%, #11073b 241.08%);
  border-radius: 15px;
  padding: 35px 30px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  color: $white;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: $yellow;
  text-align: center;
}

.price {
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: $yellow;
  font-family: $fontTitle;
  position: relative;
  display: flex;
  width: max-content;
  margin: 20px auto 0;
  span {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: $fontMain;
    text-transform: none;
    color: rgba($yellow, 0.5);
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
  }
}

.priceText {
  font-family: $fontTitle;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: rgba($yellow, 0.5);
  margin-top: 20px;
}

.list {
  margin-top: 17px;
  margin-bottom: 27px;
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 9px;
  }
}

.button {
  margin-top: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13px;
}

.open {
  background: rgba(134, 38, 110, 0.65);
  backdrop-filter: blur(40.7742px);
}

.contact {
  border: 1px solid rgba(#ffcb5e, 0.5);
  background: transparent;
}

@media (max-width: 1200px) {
  .block {
    padding: 20px 15px 25px;
  }

  .priceText {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .block {
    padding: 30px 25px 30px;
  }
  .price {
    font-size: 35px;
    line-height: 32px;
    margin-top: 15px;
    span {
      font-size: 12px;
      line-height: 12px;
    }
  }
  .priceText {
    font-size: 35px;
    line-height: 32px;
    margin-top: 15px;
  }
}
