@import '../../../styles/var';

.title {
  color: $black;
  margin-top: 40px;
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba($black, 0.7);
  span {
    background: linear-gradient(180deg, #ffcf5e 0%, #ffb55e 135.22%);
    border-radius: 5px;
    padding: 2px 5px 3px;
    margin-right: 3px;
  }
}

.documentation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: rgba($black, 0.7);
  text-decoration: none;
}

.icon {
  margin-right: 11px;
  max-width: 24px;
  min-width: 24px;
}

@media (max-width: 768px) {
  .title {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}
