@import '../../styles/var';

.section {
  padding: 162px 0 158px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 33px;
}

@media (max-width: 768px) {
  .section {
    padding: 90px 0 70px;
  }
  .text {
    margin-top: 20px;
  }
}
