@import '../../styles/var';

.section {
  background-image: url(../../assets/images/Automation/back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #03031a;
  padding: 162px 0 158px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 33px;
}

@media (max-width: 768px) {
  .section {
    padding: 70px 0;
  }
  .text {
    margin-top: 20px;
  }
}
