@import '../../styles/var';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: background 0.3s ease-in;
  z-index: 20;
}

.stick {
  position: fixed;
  background: #ffffff;
  box-shadow: 0px 5px 70px rgba(34, 12, 60, 0.2);
  transform: translateY(0px);
  .content {
    padding: 15px 0;
    padding: 15px 0 0;
    margin-bottom: -2px;
  }
  &:not(.openMenu) {
    .logo path {
      fill: $black;
    }
    .menuButton span {
      background: $black;
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0 50px;
  transition: all 0.3s ease-in;
}

.logo {
  max-width: 185px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.list {
  margin: 0 auto;
  padding: 17px 0 0 8%;
}

.enter {
  max-width: 285px;
  width: 100%;
  padding-top: 5px;
}

.menuButton {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: 12px;
  cursor: pointer;
  &:hover {
    span {
      background: $yellow;
    }
  }
  span {
    position: absolute;
    height: 1.5px;
    width: 19px;
    left: calc(50% - 9.5px);
    background: $white;
    transition: 0.3s ease-in;
    &:first-child {
      top: 6px;
    }
    &:nth-child(2) {
      top: 11px;
    }
    &:last-child {
      top: 16px;
    }
  }
  &.openMenu {
    span {
      &:nth-child(2) {
        opacity: 0;
      }
      &:first-child {
        top: 50%;
        transform: rotate(-45deg);
      }
      &:last-child {
        top: 50%;
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 998px) {
  .list {
    display: none;
  }

  .enter {
    display: none;
  }
}
@media (max-width: 768px) {
  .header {
    position: fixed;
  }
  .content {
    padding: 20px 15px 5px;
  }
  .stick {
    .content {
      padding: 20px 15px 5px;
    }
  }
}
